.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0052cc; /* Primary Color: Deep Blue */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures navbar stays above other content */
}

.navbar-brand {
    font-size: 2rem;
    color: white;
}

.navbar-links, .mobile-navbar-links {
    display: flex;
    gap: 1rem;
}

.navbar-links a, .mobile-navbar-links a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navbar-links a:hover, .mobile-navbar-links a:hover {
    background-color: #4CAF50; /* Secondary Color: Vibrant Green for hover effect */
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    background-color: #0052cc;
    color: white;
    outline: none;
    border: none;
}

.mobile-navbar-links {
    position: fixed;
    top: 73px;
    right: -250px; /* Initially hidden */
    height: 100%;
    width: 250px; /* Adjusted to provide more space */
    background-color: #0052cc; /* Consistent with the primary color */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: right 0.3s;
    outline: 0.75px solid black; /* Consider changing or removing the outline if it doesn't fit the design */
}

/* Adjusting the mobile link styles for better visibility and consistency */
.mobile-navbar-links a {
    display: block; /* Changed from flex to block for full-width links */
    width: 100%; /* Makes the entire area clickable */
    text-align: center; /* Centers the text */
    padding: 1rem; /* More padding for touch targets */
    border-bottom: 1px solid #ffffff33; /* Adds a subtle separator */
}

.icon {
    margin-right: 15px;
}

.mobile-navbar-links.open {
    right: 0;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
}
