.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0052cc; /* Primary Color: Deep Blue */
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures navbar stays above other content */
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-links, .mobile-navbar-links {
    display: flex;
    gap: 1rem;
}

.navbar-links a, .mobile-navbar-links a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.navbar-links a:hover, .mobile-navbar-links a:hover {
    background-color: #4CAF50; /* Secondary Color: Vibrant Green for hover effect */
}

.signup-btn {
    background-color: #f7c601; /* Bright Yellow for the Sign Up button */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 15px; /* Rounded corners for the button */
    font-weight: bold; /* Makes the text bold */
    transition: background-color 0.3s;
}

.signup-btn:hover {
    background-color: #d1a700 !important; /* Darker shade of yellow for hover effect */
    color: #fff; /* Text color changes on hover */
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    background-color: transparent; /* Changed to transparent */
    outline: none;
    border: none;
}

.mobile-navbar-links {
    position: fixed;
    top: 73px;
    outline: 1px solid black;
    right: -250px; /* Initially hidden */
    height: 100%;
    width: 250px; /* Adjusted to provide more space */
    padding-top: 15px;
    background-color: #0052cc; /* Consistent with the primary color */
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: right 0.3s;
}

.mobile-navbar-links.open {
    right: 0;
}

@media (max-width: 1500px) {
    .navbar-links {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
}
